* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 64.75em) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 32%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 30%; } }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box; }

.navbar {
  background-color: #0061f4;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 1.5rem 10rem;
  position: fixed;
  z-index: 99; }
  .navbar__logo {
    width: 7.5rem; }
  .navbar__nav {
    list-style: none;
    display: flex;
    margin-bottom: 0; }
  .navbar__item {
    margin: 0 2rem;
    font-weight: 600;
    position: relative; }
  .navbar__link {
    text-decoration: none;
    color: #fff;
    opacity: 0.8; }
  .navbar__link:hover, .navbar__active {
    opacity: 1;
    color: #fff;
    text-decoration: none; }
  .navbar__link::before {
    content: "";
    width: 5.5rem;
    height: .6rem;
    background-image: linear-gradient(to right, #0061f4 0%, #fff 100%);
    position: absolute;
    bottom: -1.2rem;
    left: .5rem;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .4s; }
  .navbar__link:hover::before, .navbar__active:before {
    transform: scaleX(1); }
  .navbar__btn {
    height: 6rem;
    width: 16.5rem;
    background-color: #fff;
    color: #0061f4;
    border: none;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 0.4rem;
    font-weight: 700; }

.carousel {
  width: 100%;
  height: 100vh;
  padding-top: 5rem; }
  .carousel__item {
    display: flex;
    background-image: linear-gradient(69deg, #0061f4 0%, #0061f4 54%, #0067f4 54%, #0067f4 81%, #0061f4 81%, #0061f4 100%); }
    @media only screen and (max-width: 37.5em) {
      .carousel__item {
        background-image: linear-gradient(49deg, #0061f4 0%, #0061f4 30%, #0067f4 30%, #0067f4 55%, #0061f4 55%, #0061f4 100%); } }
  .carousel__title {
    font-size: 10rem;
    color: #fff;
    line-height: 9.6rem;
    font-weight: 700;
    width: 100%;
    padding: 23rem 0 2rem 15rem; }
  .carousel__text {
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
    padding: 3rem 0 3rem 15rem; }
  .carousel__btn {
    padding-left: 15rem; }

@media only screen and (max-width: 37.5em) {
  .c-img {
    opacity: 0; } }

.btn {
  border-radius: 100px;
  font-size: 1.9rem;
  height: 6.7rem;
  width: 23rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 0.3rem solid #fff;
  transition: all .7s; }
  .btn__get-started {
    background-color: #fff;
    color: #0061f4; }
  .btn__get-started:hover {
    background-color: #0061f4;
    color: #fff; }
  .btn__download {
    background-color: #0061f4;
    color: #fff;
    margin-left: 1.5rem; }
  .btn__download:hover {
    background-color: #fff;
    color: #0061f4; }

.services {
  background-color: #f4f6f7;
  padding: 13.4rem 0;
  height: 100vh; }
  .services__head-grid {
    padding: 0 15rem;
    display: flex;
    margin-bottom: 0; }
    @media only screen and (max-width: 75em) {
      .services__head-grid {
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .services__head-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 0 0 10rem; } }
    @media only screen and (max-width: 31.25em) {
      .services__head-grid {
        margin-left: 0; } }

.grid__head {
  display: flex;
  justify-content: space-between; }

.grid__body {
  background-color: #fff;
  margin-left: 3.8rem;
  padding: 4rem 2rem; }
  @media only screen and (max-width: 37.5em) {
    .grid__body {
      margin-bottom: 2.5rem; } }

.grid__title {
  font-size: 4.4rem;
  width: 50%;
  font-weight: 400;
  transition: color .3s; }

.grid__title:hover {
  color: #0067f4;
  cursor: pointer; }

.grid__text {
  font-size: 1.8rem;
  padding: 2rem 0 2.5rem;
  color: #121212;
  padding: 0; }
  @media only screen and (max-width: 37.5em) {
    .grid__text {
      width: 60%; } }

.grid__button {
  color: #0067f4;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  font-size: 1.9rem;
  font-weight: 700;
  padding-bottom: 2rem; }

.subhead {
  text-align: center; }
  .subhead__title {
    font-size: 5.4rem;
    color: #121212;
    font-weight: 600;
    text-transform: capitalize; }
  .subhead__text {
    font-size: 2rem;
    text-align: center;
    padding: 2.3rem 22rem 5rem;
    line-height: 2.8rem;
    color: #6c6c6c; }

.featured {
  padding: 15rem 0 10rem;
  background-color: #fff; }
  .featured__lists {
    list-style: none;
    text-align: center;
    margin-top: 1rem; }
    .featured__lists:not(:last-child) {
      margin-bottom: 3.3rem; }
  .featured__button {
    font-size: 2rem;
    font-weight: 700;
    color: #6c6c6c;
    text-transform: uppercase;
    transition: all 0.2s; }
  .featured__button:hover,
  .featured .active-feat {
    color: #fff !important;
    background-image: linear-gradient(to right, #0067f4 0%, #2bdbdc 100%);
    border-radius: 100px;
    padding: 1.6rem 10rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, max-content); }
  @media only screen and (max-width: 75em) {
    .gallery {
      grid-template-columns: repeat(2, max-content); } }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      grid-template-columns: max-content;
      margin-top: 4rem; } }
  .gallery__item {
    margin-bottom: 0; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item {
        margin-left: 28rem; } }
    @media only screen and (max-width: 37.5em) {
      .gallery__item {
        margin-left: 8rem; } }
  .gallery__img {
    width: 100%; }

.feat-row {
  margin-right: 0;
  margin-left: 0;
  padding-left: 4rem; }

.pricing {
  background-color: #f4f6f7;
  padding: 15rem 0 10rem; }
  @media only screen and (max-width: 37.5em) {
    .pricing {
      height: 210vh; } }
  .pricing__card {
    width: 26%;
    margin: 0 2rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(#2bdbdc 0%, #0067f4 100%); }
    @media only screen and (max-width: 37.5em) {
      .pricing__card {
        height: auto;
        width: 60%;
        margin-left: 25rem;
        margin-bottom: 4rem;
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 31.25em) {
      .pricing__card {
        margin-left: 10rem; } }
  .pricing__row {
    display: flex;
    justify-content: center;
    height: 77vh; }
    @media only screen and (max-width: 37.5em) {
      .pricing__row {
        display: block; } }
  .pricing__img {
    width: 100%;
    padding: 4rem 10rem 2rem; }
  .pricing__body {
    color: #fff; }
  .pricing__title {
    font-size: 2.75rem;
    font-weight: 600; }
  .pricing__price {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: .4;
    padding: .13rem 0 .18rem; }
  .pricing__btn {
    text-transform: uppercase;
    color: #0067f4;
    background-color: #fff;
    font-size: 2.15rem;
    font-weight: 700;
    padding: 1.6rem 4.1rem;
    border-radius: 100px; }
  .pricing__btn:hover {
    text-decoration: none; }

.list {
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
  list-style: none;
  padding: 2rem 0 3rem 5rem;
  line-height: 4.4rem; }

.price__span {
  font-weight: 300;
  font-size: 2.5rem; }

.questions {
  padding: 15rem 0 10rem 15rem; }
  .questions__grid {
    display: flex; }
    @media only screen and (max-width: 64.75em) {
      .questions__grid {
        display: grid;
        grid-template-columns: 1fr; } }
  .questions__image {
    width: 100%;
    padding-left: 10rem; }
    @media only screen and (max-width: 64.75em) {
      .questions__image {
        padding: 0; } }
  .questions__img {
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .questions__img {
        width: 500px;
        padding: 0; } }
    @media only screen and (max-width: 31.25em) {
      .questions__img {
        width: 300px;
        padding: 0; } }
  .questions__head-1 {
    font-size: 2.2rem;
    color: #0067f4;
    text-transform: uppercase;
    padding-left: 3rem 0;
    font-weight: 400; }
  .questions__head-2 {
    font-size: 3.9rem;
    text-transform: capitalize;
    padding: .7rem 0;
    width: 120%;
    font-weight: 600; }
    @media only screen and (max-width: 37.5em) {
      .questions__head-2 {
        width: 45%; } }
  .questions__text {
    font-size: 2rem;
    text-transform: capitalize;
    padding-left: 3rem; }
  .questions__text-head {
    font-size: 2.17rem;
    font-weight: 500;
    margin-top: 4rem;
    font-weight: 600; }
  .questions__text-pgraph {
    font-size: 2rem;
    font-weight: 400;
    width: 40%; }
  .questions__side {
    display: flex;
    justify-content: space-between; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  z-index: 1;
  right: 0; }

.dropdown:active .dropdown-content {
  display: block; }

.dropbtn {
  border: 0;
  background-color: #fff;
  transform: translateY(5rem); }

.line {
  display: flex;
  opacity: .2;
  margin-bottom: 2rem; }

.line-1 {
  width: 5rem;
  background-color: #0067f4;
  border-radius: 50px;
  height: 5px;
  margin-right: .5rem; }

.line-2 {
  width: 3rem;
  background-color: #0067f4;
  border-radius: 50px;
  height: 5px;
  margin-right: .5rem; }

.line-3 {
  width: .9rem;
  background-color: #0067f4;
  border-radius: 50px;
  height: 5px;
  margin-right: .5rem; }

.line-4 {
  width: .4rem;
  background-color: #0067f4;
  border-radius: 50px;
  height: 5px;
  margin-right: .5rem; }

.arrow {
  padding-left: 1.9rem;
  margin-top: 9rem;
  color: #a4a4a4; }
  .arrow__1 {
    margin-right: 1rem; }

.testimonials {
  background-color: #f4f6f7;
  padding: 15rem 15rem 10rem; }
  .testimonials__head {
    width: 40%; }
  .testimonials__section {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__section {
        display: block; } }
  .testimonials__client {
    width: 73%;
    font-size: 2rem; }

.author {
  background-color: white;
  border-radius: 6rem;
  width: 100%;
  height: 52vh;
  padding: 4rem;
  margin-top: 5rem; }
  @media only screen and (max-width: 75em) {
    .author {
      height: 70vh; } }
  @media only screen and (max-width: 37.5em) {
    .author {
      height: 25vh; } }
  .author__profile {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem; }
    @media only screen and (max-width: 75em) {
      .author__profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 37.5em) {
      .author__profile {
        display: flex;
        justify-content: space-between;
        padding-top: 5rem; } }
  .author__text {
    font-size: 3rem; }
  .author__name {
    margin-left: -11rem; }
    @media only screen and (max-width: 75em) {
      .author__name {
        margin-left: -5rem; } }
    @media only screen and (max-width: 37.5em) {
      .author__name {
        margin-left: -11rem; } }
  .author__img {
    border-radius: 100px;
    width: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .author__img {
        width: 10rem; } }
  .author__names {
    font-size: 2rem;
    color: black;
    font-weight: 600; }
  .author__company {
    font-size: 1.7rem;
    color: #6c6c6c; }
  .author__reviews {
    font-size: 1.8rem;
    color: #121212;
    font-weight: 500; }
  .author__stars {
    font-size: 1.5rem;
    color: #ffb400; }

.team {
  padding: 15rem 8rem 10rem; }
  .team__members {
    margin: 0 12rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .team__members {
        grid-template-columns: 1fr; } }
  .team__card {
    box-shadow: rgba(72, 127, 255, 0.1) 0 0.5rem 1.8rem 0;
    max-width: 100%;
    text-align: center;
    padding: 0; }
    @media only screen and (max-width: 37.5em) {
      .team__card {
        margin-bottom: 2rem; } }
  .team__img {
    width: 100%;
    height: 58vh;
    object-fit: cover;
    object-position: top;
    position: relative; }
  .team__body {
    padding: 2.5rem 0;
    cursor: pointer;
    transition: all .5s; }
  .team__title {
    color: black;
    font-size: 3rem;
    font-weight: 600; }
  .team__text {
    color: #0067f4;
    font-size: 2.1rem;
    font-weight: 400; }

.social {
  display: flex;
  background-color: #fff;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 1.5rem 2.8rem;
  position: absolute;
  bottom: 24%;
  left: 11rem;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .social {
      padding: 1.2rem 2.4rem;
      left: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .social {
      left: 30rem; } }
  .social__fa {
    color: #6c6c6c; }
    .social__fa:not(:last-child) {
      margin-right: 2.5rem; }
    .social__fa:hover {
      color: #0067f4; }

.team__body:hover {
  color: white;
  background-image: linear-gradient(to right, #0067f4 0%, #2bdbdc 100%);
  transform: scaleY(1); }

.contact {
  padding: 15rem 5rem 10rem;
  background-attachment: #0067f4; }
  .contact__row {
    padding-left: 15rem; }

.location__text {
  font-size: 2.1rem;
  font-weight: 400;
  color: #121212; }

.icon--1 {
  background-color: black;
  border-radius: 50px;
  padding: 1.3rem 1.9rem;
  color: white; }
  @media only screen and (max-width: 37.5em) {
    .icon--1 {
      margin-bottom: 4rem; } }

.icon--2 {
  background-color: #fc3832;
  border-radius: 50px;
  padding: 1.3rem 1.4rem;
  color: white; }
  @media only screen and (max-width: 37.5em) {
    .icon--2 {
      margin-bottom: 4rem; } }

.icon--3 {
  background-color: #0067f4;
  border-radius: 50px;
  padding: 1.3rem 1.6rem;
  color: white; }

.message {
  padding: 15rem; }
  .message__head {
    font-size: 3.9rem;
    text-transform: capitalize; }
  .message__form {
    position: relative;
    color: #6c6c6c;
    font-size: 1.5rem;
    margin-top: 8rem; }
  .message__mail {
    width: 44.8%;
    height: 6rem;
    border: 0.3rem solid #a4a4a4;
    border-radius: .7rem; }
    @media only screen and (max-width: 37.5em) {
      .message__mail {
        width: 90%;
        margin-bottom: 4rem; } }
  .message__box-head__1 {
    position: absolute;
    top: -2.8rem;
    left: -1.6rem; }
  .message__box-head__2 {
    position: absolute;
    top: -2.8rem;
    left: 60.4rem; }
    @media only screen and (max-width: 37.5em) {
      .message__box-head__2 {
        top: 8rem;
        left: -1.6rem; } }
  .message__box-head__3 {
    position: absolute;
    top: 14rem;
    left: 0; }
    @media only screen and (max-width: 37.5em) {
      .message__box-head__3 {
        top: 20rem;
        left: 2rem; } }
  .message__box {
    width: 92%;
    height: 17rem;
    margin: 7rem 0 3rem;
    border: 0.3rem solid #a4a4a4;
    border-radius: .7rem; }
    @media only screen and (max-width: 37.5em) {
      .message__box {
        margin: 3rem 0 3rem; } }
  .message__btn {
    text-transform: uppercase;
    color: white;
    background-color: #0067f4;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.6rem 4rem;
    border-radius: 4px;
    border: none;
    margin-left: -1.5rem; }

::placeholder {
  font-size: 2rem;
  padding-left: 1.5rem; }

.footer {
  height: 72vh;
  padding: 13rem 0;
  background-color: #121212;
  text-align: center;
  color: white; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 40vh;
      padding-bottom: 5rem; } }
  .footer__logo {
    width: 8rem;
    padding-bottom: 8rem; }
  .footer__icons {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    font-size: 1.2rem; }
  .footer__text {
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 3.5rem; }
  .footer__end {
    font-size: 2rem;
    padding: 3rem 60rem 0; }
    @media only screen and (max-width: 37.5em) {
      .footer__end {
        padding: 2rem 35rem 0; } }
  .footer__span {
    color: #0067f4; }
