.headnav{
    background-image: linear-gradient(
        69deg,
        ($color-primary) 0%,
        ($color-primary) 54%,
        ($color-primary-light 54%, $color-primary-light) 83%,
        ($color-primary) 83%,
        ($color-primary) 100%
      );
  
      @media only screen and (max-width: $bp-small) {
        background-image: linear-gradient(
          69deg,
          ($color-primary) 0%,
          ($color-primary) 20%,
          ($color-primary-light 20%, $color-primary-light) 60%,
          ($color-primary) 60%,
          ($color-primary) 100%
        );
      }
}
.carousel-control{
  @media only screen and (max-width: $bp-small) {
   display:none;
  }
}
.carousel {
  width: 100%;
  height: 110vh;
  padding-top: 4rem;
  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
    height:90vh;
  }
  &__item {
    display: flex;
    @media only screen and (max-width: $bp-small) {
      display:block;
    }
  }

  &__title {
    font-size: 8.4rem;
    color: $color-white;
    line-height: 9.6rem;
    font-weight: 700;
    width: 100%;
    padding: 20rem 0 1rem 15rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
      line-height: 6rem;
      padding: 25rem 0 0;
      width:105%;
      
    }
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    width:80%;
    color: $color-white;
    padding: 1rem 0 3rem 15rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 2.4rem;
     width:100%;
     padding: 1rem 0 3rem;
     line-height: 3.5rem;

      
    }
  }

  &__btn {
    padding-left: 15rem;
    @media only screen and (max-width: $bp-small) {
      padding-left: 0;
    }

  }
}

.c-img {
  @media only screen and (max-width: $bp-small) {
    opacity: 0;
  }
}

.btn {
  border-radius: 100px;
  font-size: 1.4rem;
  height: 5rem;
  width: 17rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 0.2rem solid $color-white;
  transition: all 0.7s;
  @media only screen and (max-width: $bp-small) {
   width: 18rem;
   height:6rem;
   font-size: 1.7rem;
  }

  &__get-started {
    background-color: $color-white;
    color: $color-primary;
  }

  &__get-started:hover {
    background-color: $color-primary;
    color: $color-white;
  }

  &__download {
    background-color: $color-primary;
    color: $color-white;
    margin-left: 1.5rem;
  }

  &__download:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}
