.contact {
  padding: 15rem 5rem 10rem;
  background-attachment: $color-primary-light;
  @media only screen and (max-width: $bp-small) {
    padding: 10rem 0;
   }
  &__row {
    padding-left: 15rem;
    @media only screen and (max-width: $bp-small) {
      padding-left:5rem;
     }
  }
}

.location {
  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-darker;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
     }
  }
}
.loc-ico{
    font-size: 2rem !important;
}
.icon--1 {
  background-color: black;
  border-radius: 50px;
  padding: 1.1rem 1.5rem;
  color: white;

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 4rem;
  }
}

.icon--2 {
  background-color: rgb(252, 56, 50);
  border-radius: 50px;
  padding: 1.1rem 1.2rem;
  color: white;

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 4rem;
  }
}

.icon--3 {
  background-color: $color-primary-light;
  border-radius: 50px;
  padding: 1.1rem 1.3rem;
  color: white;
}

.message {
  padding: 15rem;
  @media only screen and (max-width: $bp-small) {
    padding: 10rem 5rem;
   }

  &__head {
    font-size: 3.2rem;
    text-transform: capitalize;
  }

  &__form {
    position: relative;
    color: $color-dark;
    font-size: 1.5rem;
    margin-top: 8rem;
  }

  &__mail {
    width: 44.8%;
    height: 4.5rem;
    border: 0.2rem solid $border;
    border-radius: 0.7rem;
    @media only screen and (max-width: $bp-small) {
      width: 90%;
      margin-bottom: 4rem;
      border: 0.3rem solid $border;

    }
  }
  &__box {
    width: 92%;
    height: 13rem;
    margin: 5rem 0 3rem;
    border: 0.2rem solid $border;
    border-radius: 0.7rem;
    @media only screen and (max-width: $bp-small) {
      margin: 3rem 0 3rem;
      border: 0.3rem solid $border;
    }
  }

  &__box-head {
    &__1 {
      position: absolute;
      top: -2.8rem;
      left: -1.6rem;
      font-size: 1.2rem;
    }

    &__2 {
      position: absolute;
      top: -2.8rem;
      left: 53rem;
      font-size: 1.2rem;

      @media only screen and (max-width: $bp-small) {
        top: 6.5rem;
        left: -1.6rem;
      }
    }

    &__3 {
      position: absolute;
      top: 7rem;
      left: 0;
      font-size: 1.2rem;

      @media only screen and (max-width: $bp-small) {
        top: 18rem;
        left: .4rem;
      }
    }
  }

 

  &__btn {
    text-transform: uppercase;
    color: white;
    background-color: $color-primary-light;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 4px;
    border: .2rem solid  $color-primary-light;
    margin-left: -1.5rem;
  }
  &__btn:hover{
    background-color: white;
    color: $color-primary-light;
  }
}

::placeholder {
  font-size: 1.6rem;
  padding-left: 1.5rem;
}
