.featured {
    padding: 15rem 0 10rem;
    background-color: $color-white;

    &__lists {
        list-style: none;
        text-align: center;
        margin-top: 1rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    &__button {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-dark;
        text-transform: uppercase;
        transition: color .1s, background-image 4s ease-out;
        padding: 1.2rem 9rem;
        border-radius: 100px;
        @media only screen and (max-width: $bp-small) {
            padding:1.7rem 18rem;
           }
    }

    &__button:hover,
    .active-feat {
        color: #fff !important;
        background-image: linear-gradient(to right,
                rgb(0, 103, 244) 0%,
                rgb(43, 219, 220) 100%);
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, max-content);

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: repeat(2, max-content);

    }

    @media only screen and (max-width: $bp-small) {
        display:block;
        margin-top: 4rem;
    }


    &__item {
        margin-bottom: 0;
        @media only screen and (max-width: $bp-small) {
            margin-left: 0;
        }
       

    }

    &__img {
        width: 100%;
        
         
    }
}

.feat-row {
    margin-right: 0;
    margin-left: 0;
    padding-left: 4rem;
    @media only screen and (max-width: $bp-small) {
        padding: 5rem 0;
    }
   
}