.featured {
    padding: 15rem 0 10rem;
    background-color: $color-white;

    &__lists {
        list-style: none;
        text-align: center;
        margin-top: 1rem;

        &:not(:last-child) {
            margin-bottom: 3.3rem;
        }
    }

    &__button {
        font-size: 2rem;
        font-weight: 700;
        color: $color-dark;
        text-transform: uppercase;
        transition: all 0.2s;
    }

    &__button:hover,
    .active-feat {
        color: #fff !important;
        background-image: linear-gradient(to right,
                rgb(0, 103, 244) 0%,
                rgb(43, 219, 220) 100%);
        border-radius: 100px;
        padding: 1.6rem 10rem;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, max-content);

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: repeat(2, max-content);

    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: max-content;
        margin-top: 4rem;
    }


    &__item {
        margin-bottom: 0;
        @media only screen and (max-width: $bp-small) {
            margin-left: 28rem;
        }
        @media only screen and (max-width: $bp-small) {
            margin-left: 8rem;
        }

    }

    &__img {
        width: 100%;
    }
}

.feat-row {
    margin-right: 0;
    margin-left: 0;
    padding-left: 4rem;
}