.line {
  display: flex;
  opacity: 0.2;
  margin-bottom: 2rem;
}

.line-1 {
  width: 4rem;
  background-color: rgb(0, 103, 244);
  border-radius: 50px;
  height: 3px;
  margin-right: 0.5rem;
}

.line-2 {
  width: 2rem;
  background-color: rgb(0, 103, 244);
  border-radius: 50px;
  height: 3px;
  margin-right: 0.5rem;
}

.line-3 {
  width: 0.9rem;
  background-color: rgb(0, 103, 244);
  border-radius: 50px;
  height: 3px;
  margin-right: 0.5rem;
}

.line-4 {
  width: 0.4rem;
  background-color: rgb(0, 103, 244);
  border-radius: 50px;
  height: 3px;
  margin-right: 0.5rem;
}

.arrow {
  padding-left: 1.9rem;
  margin-top: 9rem;
  color: rgb(164, 164, 164);
  @media only screen and (max-width: $bp-small) {
    display: none;
  }


  &__1 {
    margin-right: 1rem;
  }
}
.arrows {
  font-size: 3rem;
}

.testimonials {
  background-color: $color-secondary;
  padding: 15rem 15rem 10rem;
  @media only screen and (max-width: $bp-small) {
    padding: 10rem 2.5rem;
  }

  &__head {
    width: 40%;
    @media only screen and (max-width: $bp-large) {
        width:70% !important;
      }
  }

  &__section {
    display: flex;
    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }

  &__client {
    width: 70%;
    font-size: 1.6rem;
    @media only screen and (max-width: $bp-small) {
        width:100% !important;
        font-size: 2rem;
        line-height: 1.6;
      }
  }
}

.author {
  background-color: white;
  border-radius: 6rem;
  width: 80%;
  height: 48vh;
  padding: 4rem;
  margin-top: 5rem;

  @media only screen and (max-width: $bp-largest) {
    height: 70vh;
  }
  @media only screen and (max-width: $bp-small) {
    height: 60vh;
    width:100%;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    @media only screen and (max-width: $bp-small) {
       display:grid !important;
       grid-template-columns: repeat(2, 1fr);
      }
    

    @media only screen and (max-width: $bp-largest) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-small) {
      display: flex;
      justify-content: space-between;
      padding-top: 5rem;
    }
  }

  &__text {
    font-size: 2.4rem;
    padding-bottom: 2rem;
    @media only screen and (max-width: $bp-small) {
      line-height: 1.8;
      }
    
  }

  &__name {
    padding-top: 1rem;
    margin-left: -11rem;
    @media only screen and (max-width: $bp-largest) {
      margin-left: -5rem;
    }
    @media only screen and (max-width: $bp-small) {
      margin-left: -11rem;
    }
  }

  &__img {
    border-radius: 100px;
    width: 7rem;
    @media only screen and (max-width: $bp-small) {
      width: 10rem;
    }
  }

  &__names {
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
    @media only screen and (max-width: $bp-small) {
       padding-bottom: 1.5rem;
       font-size: 1.9rem;
      }
  }

  &__company {
    font-size: 1.4rem;
    color: $color-dark;
    @media only screen and (max-width: $bp-small) {
        font-size: 1.6rem;
       }
  }
  &__review {
    padding-top: 1rem;
    @media only screen and (max-width: $bp-small) {
        padding-left: 14rem;
      }
  }

  &__reviews {
    font-size: 1.4rem;
    color: $color-darker;
    font-weight: 500;
   
    @media only screen and (max-width: $bp-small) {
        font-size: 1.6rem;
       }
  }

  &__stars {
    font-size: 1.5rem;
    color: $stars;
    @media only screen and (max-width: $bp-small) {
        padding-bottom: 1.5rem;
        font-size: 1.7rem;
       }
  }
}
